@import "src/styles/variaveis";
@import "src/styles/breakpoint";


.header {
  padding-left: 18%  ;
  align-items: center;
  background-image: url('../../assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}

.footer { 
    align-items: center;
    background-image: url('../../assets/footer/nossa_casa.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    border-radius: 10px;
    
  &__endereco{
    text-align: end;
    color: white;
    font-size: 1rem;
    min-width: 400px;
    width: 40%;
    border-color: black;
  }
}