@import "src/styles/variaveis";
@import "src/styles/breakpoint";


.header {
  padding-left: 18%  ;
  align-items: center;
  background-image: url('../../assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}

