@import "variaveis";
@import "breakpoint";

.container {
 
 
  @media (max-width: 300px) {
    .titulo { 
      color: $dark;
      font-size: 3.5rem;
      margin: 5% 0;
    }
  }
 
}
.titulo { 
  color: $dark;
  font-size: 3rem;
  margin: 20px 0;
}

