@import "./../../styles/breakpoint";
@import "./../../styles/variaveis";

.titulo {
  display: flex;
  color: $dark;
  font-size: 3rem;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.recomendados {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.recomendado {
  &__titulorecomendado{
    display: flex;
    font-size: 3rem;
  }

  &__imagem {
    width: 300px;
    margin-bottom: 10px;
    img {
      border-radius: 8px;
      width: 100%;
    }
  }
  &__botao {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    transition: .2s ease;
    width: 100%;
    &:hover {
      background-color: $red-dark;
    }
  }
}
.nossaCasa {
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  img {
    border-radius: 5px;
    width: 100%;
  }
  &__endereco {
    align-items: center;
    background-color: $dark;
    border-radius: 5px;
    bottom: -45px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
  }
}

@media (max-width: $desktop_xsm) {
  .titulo {
    display: flex;
    color: $dark;
    font-size: 3rem;
    margin:  10px 10px;
    text-align: center;
  }
  .recomendados {
    align-items: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
  } 
  .recomendado{
      flex-wrap: wrap;
      flex-direction: column;
    
      &__titulorecomendado{
        display: flex;
        font-size: 3rem;
        text-align: center;
        max-width: 350px; 

      }
      &__imagem {
        flex-wrap: wrap;
        padding: auto;
        min-width: 300px;
        margin-bottom: 10px;
        margin: 20px 10px ;
        justify-content: center;
        img {
          border-radius: 8px; 
        }
      }
      &__botao {
        background-color: $red;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 0;
        transition: .2s ease;
        width: 100%;
        &:hover {
          background-color: $red-dark;
        }
      }
    }  
  
  .nossaCasa {
    margin-bottom: 90px;
    position: relative;
    width: 80%;
    img {
      border-radius: 5px;
      width: 100%;
    }
    &__endereco {
      align-items: center;
      background-color: $dark;
      border-radius: 5px;
      bottom: -45px;
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: 100px;
      justify-content: center;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 200px;
    }
  } 
}