@import "src/styles/variaveis";
@import "src/styles/breakpoint";

.menu {
  margin: 0 0;
}

.cardapio {
  margin: 10px;
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 410px) {
  .menu {
    padding: 20px $padding-horizontal;
  }

  .cardapio {
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
@media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
  .menu {
    padding: 20px $padding-horizontal;
  }

  .cardapio {
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
@media (min-width: $desktop_sm) and (max-width: $desktop_md) {
  .menu {
    padding: 20px $padding-horizontal;
  }

  .cardapio {
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
