@import "src/styles/variaveis";
@import "src/styles/breakpoint";

.barra {
    padding: 10px;

    &__logo{
        padding: 0 5% 0 0%;
    }
    &__opcoes {
      display: flex;
      flex-direction: row;
      margin: 0  20% 0 0;
      color: $dark;
      font-size: 1rem;
      &__pagina{
        display: none; 
      }
    }
    :link {
        text-decoration: none;
        color: #000000;
    }
    :visited{
        color: black
    }:hover{
        color: red;
    }
    &__list {
      flex-direction: row;
      font-size: 3rem;
      padding: 10px 10px;
    }
    &__link {
      list-style-type: none;
      padding: 0 20px;
      a {
        color: $dark;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: $dark-grey;
        }
      }
    }
  }

  @media screen, (max-width: 410px) {
    
    
    .barra {
      display:  block;
      flex-direction: row;
      align-items: center;
      margin: auto;
      &__logo{
          align-items: center;
          width: auto;
          height: auto;
          padding: 10% 0% 0 10%;
      }
  
      &__opcoes {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0  10% 0 10%;
        color: $dark;
        font-size: 2rem;
        &__pagina{
          display: flex; 
        }
      }
    
      :link {
          
          text-decoration:none;
          color: black;
      }
      :visited{
          color: black
      }:hover{
          color: red;
      }
    &__list {
      text-align: center;
      display: flex;
      
      font-size: 2rem;
      font-style: italic;
    }
    &__link {
      list-style-type: none;
      
      a {
        color: $dark;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: $dark-grey;
        }
      }
    }
    }
  }
