@import "src/styles/variaveis";
@import "src/styles/breakpoint";


.barra {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    align-items: center;
     
    &__logo{
        align-items: center;
        width: auto;
        height: auto;
        padding: 0 5% 0 0%;
    }
    &__opcoes {
      display: flex;
      flex-direction: row;
      margin: 0  20% 0 0;
      color: $dark;
      font-size: 1rem;
      text-align: start;
      &__pagina{
        display: none; 
      }
    }
    :link {
        text-decoration: none;
        color: #000000;
    }
    :visited{
        color: black
    }:hover{
        color: red;
    }
    &__list {
      align-items: center;
      display: flex;
      font-size: 115%;
      padding: 0 10px;
    }
    &__link {
      list-style-type: none;
      padding: 0 20px;
      a {
        color: $dark;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: $dark-grey;
        }
      }
    }
  }

  @media (max-width: $desktop_xsm) {
    
    
    .barra {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px 0 10px;
      display: flex;
      &__logo{

          align-items: center;
          width: auto;
          height: auto;
          padding: 0 0% 0 0%;
      }
  
      &__opcoes {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0  10% 0 10%;
        color: $dark;
        font-size: 1rem;
        &__pagina{
          display: none; 
        }
      }
    
      :link {
          
          text-decoration:none;
          color: black;
      }
      :visited{
          color: black
      }:hover{
          color: red;
      }
      
     
      
    

    &__list {
      align-items: center;
      display: flex;
    }
    &__link {
      list-style-type: none;
      padding: 0 20px;
      a {
        color: $dark;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: $dark-grey;
        }
      }
    }
    }
  }
