.itens {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

@media screen, (max-width: 410px) {
.itens {
    
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
  }
}